[defaults]
inventory = /home/student/ansible/inventory
#remote_user = root
#ask_pass = true
#vault_password_file = ./password.txt

[privilege_escalation]
become = true
become_method = sudo
become_user = root
#become_ask_pass = true
